.activity-factor-definitions {

    .definitions-button {
        margin-bottom: 20px;
    }

    .definitions {
        margin-bottom: 20px;

        .list-group-item-heading {
            font-size: 1rem;
            font-weight: 600;
        }

        .list-group-item-text {
            font-size: .85rem;
            margin-bottom: 0;
        }
    }
}
